<!-- DASHBOARD -->
<main>
  <!-- MÉTRIQUES -->
  <div class="recap">
    <section class="entete">
      <h1>Récap</h1>
    </section>
    <br />
    <br />

    <section class="metriques" [class.advanced]="showAdvancedMetrics">
      <div class="trajet-label">{{ trips.length }} trajet(s)</div>
      <br />

      <div class="metric-grid">
        <!-- MÉTRIQUES TOUJOURS VISIBLES -->

        <div class="metric">
          <span class="metric-label">Vitesse moyenne</span>
          <span class="stat"> {{ metrics.distance / 1000 / (metrics.elapsedTime / 3600000) | number : '1.2-2' }} km/h </span>
        </div>

        <div class="metric">
          <span class="metric-label">Vitesse max</span>
          <span class="stat"> {{ metrics.maxSpeed * 3.6 | number : '1.1-1' }} km/h </span>
        </div>

        <div class="metric">
          <span class="metric-label">Temps total</span>

          <span class="stat">
            {{ metrics.elapsedTime | date : 'HH:mm:ss' : 'UTC' }}
          </span>
        </div>

        <div class="metric">
          <span class="metric-label">Distance total</span>
          <span class="stat">
            @if (metrics.distance < 1000) {
            {{ metrics.distance | number : '1.0-0' }} m } @else { {{ metrics.distance / 1000 | number : '1.2-2' }} km }
          </span>
        </div>

        <div class="metric">
          <span class="metric-label">0 → 50 km/h</span>
          <span class="stat">
            {{ (metrics.time50 > 0 ? metrics.time50 : metrics.elapsedTimeRace) / 1000 | number : '1.3-3' }}
            s</span
          >
        </div>

        <div class="metric">
          <span class="metric-label">0 → 100 km/h</span>
          <span class="stat">
            {{ (metrics.time100 > 0 ? metrics.time100 : metrics.elapsedTimeRace) / 1000 | number : '1.3-3' }}
            s</span
          >
        </div>

        <!-- <div class="metric">
        <span class="metric-label">Accélération max</span>
        <span class="stat">0.00 G</span>
      </div>

      <div class="metric">
        <span class="metric-label">Freinage max</span>
        <span class="stat">0.00 G</span>
      </div>

      <div class="metric">
        <span class="metric-label">G latéraux max</span>
        <span class="stat">0.00 G</span>
      </div> -->
      </div>
    </section>
    <br />

    <!-- BOUTON BASCULE MÉTRIQUES -->
  </div>
  <br>
  
  <div class="historique">
    <section class="entete">
      <h1>Historique</h1>
    </section>
    <br />
    <app-trip-list> </app-trip-list>
  </div>
</main>
