<div class="page">

  <!-- HEADER -->
  <header class="header">
    <span class="logo-fast">FAST</span>
    <span class="logo-and">&</span>
    <span class="logo-curious">CURIOUS</span>
    <span *ngIf="dataUpdated" class="logo-curious" style="color: grey">save</span>
  </header>

  <router-outlet></router-outlet>

</div>


<!-- FOOTER -->

<footer>

  <button class="nav-button" routerLink="dashboard" routerLinkActive="active" type="button">

    <span>
      <span class="icon icon-car" aria-hidden="true"></span>
    </span>

    CONDUIRE

  </button>

  <button class="nav-button" routerLink="statistiques" routerLinkActive="active" type="button">

    <span>
      <span class="icon icon-stat" aria-hidden="true"></span>

    </span>

    STATISTIQUES

  </button>

</footer>