.conteneur {
    margin-top: 10%;
    text-align: center;
    align-content: center;
}


span {
    font-size: smaller;
    color: grey;
}

h3 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-text-green);
}

.data {
    text-align: left;
    width: fit-content;
    text-indent: 0.6em;
}